:root {
  --light-color: #fff;
  --light-color-alpha: rgba(255, 255, 255, 0.7);
  --dark-color: #000;
  --dark-color-alpha: rgba(0, 0, 0, 0.7);
  --font-color: #5d6063;
  --link-color: #5995da;
  --hover-color: #067ded;
  --menu-background: #f9db79;
  --enjoy-background: #b5e8d5;
  --get-yours-background: #ffbfb3;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  /* font-family: "Montserrat", sans-serif; */

  color: var(--font-color);
}

a {
  text-decoration: none;
  color: inherit;
  margin: 16px;
  font-size: 1.2rem;
}

li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.4rem;
}

.hidden {
  display: none;
}

.brand {
  font-family: "Princess Sofia", cursive;
  font-size: 2.5rem;
  text-align: center;
}

.button {
  padding: 0.5em 1em;
  border: 2px solid var(--light-color);
  font-weight: bold;
  transition: all 300ms ease;
}

.button:hover,
.dark-button:hover {
  background: var(--font-color);
  border: 2px solid var(--font-color);
}

.dark-button {
  padding: 0.5em 1em;
  border: 2px solid var(--font-color);
  font-weight: bold;
  transition: all 300ms ease;
  display: inline-block;
}

.dark-button:hover {
  color: var(--light-color);
}

.white-font {
  color: var(--light-color);
}

.width3 {
  width: 33%;
}

.width2 {
  width: 50%;
}

.mt {
  margin-top: 0;
}

.overflow {
  overflow: hidden;
}

/* Announcement banner */
.announcement-banner {
  background: var(--font-color);
  text-align: center;
  color: var(--light-color);
  padding: 0.1em 0;
}

/* Main Header */

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: var(--menu-background);
}

.nav-menu {
  display: flex;
}

.log-in {
  text-align: right;
}
/* Menu section */
.menu-section,
.enjoy-section {
  background: var(--menu-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 600px;
}

.menu-text,
.enjoy-text {
  font-size: 7.2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 0.2em;
}

.z-text {
  position: relative;
  z-index: 2;
}
.menu-img,
.enjoy-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 600px;
  z-index: 1;
}

/* Flavors section */

.flavors-section {
  display: flex;
  flex-wrap: wrap;
  height: 650px;
}

.flavors-text {
  text-align: center;
  padding: 4em;
  width: 40%;
  align-self: center;
}

.flavors-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Enjoy section */
.enjoy-section {
  background: var(--enjoy-background);
  height: 600px;
}
