:root {
  --light-color: #fff;
  --light-color-alpha: rgba(255, 255, 255, 0.7);
  --font-color: #5d6063;
  --menu-background: #f9db79;
  --enjoy-background: #b5e8d5;
  --getyours-background: #ffbfb3;
  --about-html-background: #c3a9d4;
}

/* GENERAL */
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--font-color);
}

a {
  text-decoration: none;
  color: inherit;
  margin: 1em;
  font-size: 1.2rem;
  transition: all 300ms ease;
  display: inline-block;
}

li {
  list-style: none;
}

h2 {
  font-size: 2.4rem;
}

h4 {
  margin-top: 2em;
  margin-bottom: 0;
}
.hidden {
  display: none;
}

.brand {
  font-family: "Princess Sofia", cursive;
  font-size: 2.5rem;
  text-align: center;
}

.button {
  padding: 1em 2em;
  color: var(--light-color);
  background: none;
  border: 2px solid var(--light-color);
  font-weight: bold;
  transition: all 300ms ease;
}

.button:hover,
.dark-button:hover {
  background: var(--font-color);
  border: 2px solid var(--font-color);
  cursor: pointer;
}

.dark-button {
  padding: 1em 2em;
  border: 2px solid var(--font-color);
  font-weight: bold;
  transition: all 300ms ease;
  display: inline-block;
}

.dark-button:hover {
  color: var(--light-color);
}

.white-font {
  color: var(--light-color);
}

.width3 {
  width: 33%;
}

.width2 {
  width: 50%;
}

.mt {
  margin-top: 0;
}

.overflow {
  overflow: hidden;
}

.text-width {
  max-width: 400px;
}

/* Announcement banner */
.announcement-banner {
  background: var(--font-color);
  text-align: center;
  color: var(--light-color);
  padding: 0.1em 0;
}

.announcement-banner span {
  font-size: inherit;
}

/* Main Header */

.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: var(--menu-background);
  position: relative;
}
.main-header a:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
.nav-menu {
  display: flex;
}

.log-in {
  text-align: right;
}

/* REGISTER LOG IN FORMS */

.form-container {
  background: var(--light-color-alpha);
  width: 350px;
  padding: 1em;
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 3;
  box-shadow: 0 4px 8px -4px var(--font-color);
}

.form-container p {
  text-align: center;
}

.form-input-container {
  display: flex;
  flex-direction: column;
  background: var(--light-color-alpha);
  padding: 1em;
}

.form-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.form-brand h1 {
  font-size: 2rem;
  margin: 0;
}

.form-brand img {
  width: 80px;
  top: 14%;
  position: relative;
}

input {
  border: 1px solid var(--font-color);
  padding: 1em;
  color: inherit;
  font-family: inherit;
  transition: all 300ms ease;
  margin-bottom: 1em;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

/* Add Zoom Animation */
.animate {
  animation: animatezoom 300ms;
  transform-origin: top center;
}

@keyframes animatezoom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Menu section | Enjoy section | Getyours section */
.menu-section,
.enjoy-section,
.getyours-section {
  background: var(--menu-background);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 600px;
}

.menu-text,
.enjoy-text,
.getyours-text {
  font-size: 7.2rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1em;
  margin: 0;
  margin-bottom: 0.2em;
  text-align: center;
}

.z-text {
  position: relative;
  z-index: 2;
}
.menu-img,
.enjoy-img,
.getyours-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 600px;
  z-index: 1;
}

/* Flavors section | Ourplace section | Desserts section*/

.desserts-btn {
  display: flex;
}

.flavors-section,
.ourplace-section,
.desserts-section {
  display: flex;
  flex-wrap: wrap;
  /* height: 651px; */
}

.flavors-text,
.desserts-text {
  text-align: center;
  padding: 0 4em;
  align-self: center;
}

.flavors-section img,
.ourplace-section img,
.desserts-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Enjoy section */
.enjoy-section {
  background: var(--enjoy-background);
  height: 600px;
}

/* Ourplace section */

.ourplace-text {
  align-self: center;
  text-align: center;
  padding: 0 4em 0 10em;
}

/* Getyours section */

.getyours-section {
  background: var(--getyours-background);
  height: 600px;
}

/* Footer section */

.footer-section {
  background: var(--menu-background);
  display: flex;
  flex-wrap: wrap;
}

.address-text {
  display: flex;
  flex-wrap: wrap;
  padding: 2em;
}

.address-text-content {
  padding: 0 1em;
  text-align: center;
}

.mailing-list {
  width: 500px;
  margin-left: 4em;
}

.mailing-list label {
  font-size: 1.2rem;
}

.mailing-list input {
  display: block;
  font-size: 1.1em;
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 2px solid transparent;
  transition: all 300ms ease;
  font-family: inherit;
  color: inherit;
  font-weight: bold;
}

.mailing-list input:focus {
  outline: none;
  border: 2px solid var(--font-color);
}

.form-btn {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5em 1em;
  background: inherit;
  color: inherit;
}

.form-btn:hover {
  cursor: pointer;
}

.social-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-img p {
  margin: 0;
}

.social-img ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.social-img a {
  width: 32px;
  height: 32px;
  margin-left: 1em;
  transition: all 300ms ease;
}

.social-img a:hover {
  transform: translateY(-5px);
}

@media (max-width: 870px) {
  /* GENERAL */

  h1 {
    margin: 0;
  }

  .text-width {
    max-width: 100%;
  }

  .width3 {
    width: 100%;
    text-align: center;
  }

  .width2 {
    width: 100%;
    padding: 0;
  }

  /* ANNOUNCEMENT BANNER */
  .announcement-banner p {
    padding: 0 1em;
  }

  /* MAIN HEADER */

  .nav-menu {
    justify-content: center;
  }
  .nav-menu {
    margin: 0;
    padding: 0;
  }

  /* Menu section | Enjoy section | Getyours section */

  .menu-text,
  .enjoy-text,
  .getyours-text {
    font-size: 4.2rem;
    text-align: center;
  }

  /* Ourplace section */

  .ourplace-text {
    padding: 1em;
  }

  /* Flavors section | Ourplace section | Desserts section*/

  .flavors-text,
  .desserts-text {
    padding: 1em;
  }
  .flavors-section,
  .ourplace-section,
  .desserts-section {
    height: auto;
  }

  .desserts-btn {
    justify-content: center;
  }

  /* FOOTER */
  .social-img {
    padding: 1em;
    text-align: center;
  }
  .address-text {
    width: 100%;
    padding: 1em;
  }
}

@media (max-width: 400px) {
  /* Register / Log in form */

  .form-container {
    width: 375px;
    top: 0;
    right: 0;
  }
}
