.inventory-main-header,
.inventory-menu-section {
  background: var(--getyours-background);
}

  /* inventory */

  .inventory-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 1rem 1rem;
  }
  .inventory-sub-cont {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inner-inventory-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inner-inventory-cont h2 {
    margin-top: 1rem;
    text-align: center;
  }

  .inventory-items, .checkout-items{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .inventory-items img, .checkout-items img{
    width: 80%;
  }

  .inventory-items > * , .checkout-items >*{
    margin: 1rem 1rem;
  }

  .inventory-items p, .checkout-items p {
    font-size: 1rem;
  }

  .inventory-items button, .checkout-items button {
    width: 50%;
    height: 30px;
    font-size: 1rem;
  }
  
  .total-units{
    text-align: center;
    width: 30%;
    height: 10px;
    font-size: 15px;
  }

  /* .shopingCart{
    display: none;
  } */

  .pickup{
    display: none;
  }

  /* total shopping cart value */
  .total-price-cont{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.7rem;
    font-size: 1.2rem;
  }

  /* checkoutBtn */
  .checkout-btn{
    width: 100%;
    height: 30px;
    font-size: 1rem;
  }

@media (min-width: 800px) {
  .inventory-sub-cont {
    max-width: 1000px;
  }
  .inventory-items, .checkout-items {
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 1fr 1fr;
    grid-template-rows: auto;
  }
  .prepairedCont{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .price{
    text-align: center;
  }

  .total-units{
    width: 80%;
  }
}
